@charset "UTF-8";
/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* Для коректної роботи rem */
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; /* Відключення масштабування тексту в мобільних браузерах */
}

body {
  margin: 0;
  font-family: Arial, sans-serif; /* Або інший базовий шрифт */
  background-color: #fff;
  color: #000;
}

img,
picture,
video,
canvas {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Montserrat-Bold.woff2), url(../../fonts/Montserrat-Bold.woff), url(../../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url(../../fonts/DMSans-Bold.woff2), url(../../fonts/DMSans-Bold.woff), url(../../fonts/DMSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url(../../fonts/DMSans-Medium.woff2), url(../../fonts/DMSans-Medium.woff), url(../../fonts/DMSans-Medium.ttf);
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url(../../fonts/DMSans-Regular.woff2), url(../../fonts/DMSans-Regular.woff), url(../../fonts/DMSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "DM Sans";
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1 {
  font-family: "Montserrat";
  font-size: 56px;
  line-height: 115%;
  font-weight: bold;
  color: #ffffff;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #244d4d;
}

h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: medium;
  color: #244d4d;
}

p {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  color: #383738;
}

a {
  line-height: 100%;
  font-weight: 400;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: clamp(20px, 20px + 24 * (100vw - 320px) / 910, 44px) 15px 0;
}
.header__logo {
  display: flex;
  font-family: "Montserrat";
  font-size: calc(20px + 4 * (100vw - 320px) / 910);
  font-weight: bold;
  line-height: 100%;
  align-items: center;
  color: #244d4d;
}
@media screen and (max-width: 480px) {
  .header__menu {
    display: none;
  }
}
.header__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(15px + 35 * (100vw - 480px) / 750);
}
.header__menu-link {
  color: #161616;
  transition: color 0.3s;
}
.header__menu-link:hover {
  color: #ef5423;
}
.header__menu-icon {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.header__menu-icon-favorite {
  cursor: pointer;
  width: 24px;
  height: 24px;
  fill: #244d4d;
  transition: color 0.3s;
}
.header__menu-icon-favorite:hover {
  fill: #ef5423;
}

.open {
  display: flex !important;
}

.burger__menu {
  display: none;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  overflow-y: auto;
  padding: 50px 40px;
  background-color: #244d4d;
  animation: burgerAnimation 0.4s;
}
.burger__menu-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  color: #ecf4ff;
}
.burger__menu-item:active {
  color: #ef5423;
}
@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.burger__icon {
  display: none;
  position: relative;
  width: 24px;
  height: 18px;
  margin: auto 0;
  z-index: 50;
  justify-content: flex-end;
  align-items: center;
}
.burger__icon span {
  width: 100%;
  height: 2px;
  background-color: #244d4d;
  transform: scale(1);
  align-items: center;
}
.burger__icon::before, .burger__icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #244d4d;
  transition: all 0.3s ease 0s;
}
.burger__icon::before {
  top: 0;
}
.burger__icon::after {
  bottom: 0;
}
.burger__icon.active span {
  transform: scale(0);
}
.burger__icon.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
  background-color: #ecf4ff;
}
.burger__icon.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
  background-color: #ecf4ff;
}
@media screen and (max-width: 480px) {
  .burger__icon {
    display: flex;
  }
}

.page-hero {
  margin-top: 30px;
}
.page-hero__container {
  height: 700px;
  background-image: url(../../assets/images/photo_1.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
  align-items: center;
}
.page-hero__content {
  display: grid;
  gap: 30px;
  padding: 74px 60px 74px 120px;
  align-content: start;
  background-color: #154444;
  transform: translateX(-120px);
}
.page-hero__title {
  max-width: 450px;
}
.page-hero__title--accent {
  color: #ef5423;
}
.page-hero__text p {
  max-width: 400px;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  color: #ffffff;
}

.page-companies__title {
  margin-top: 140px;
  text-align: center;
}
.page-companies__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 40px;
}

.page-about__container {
  margin-top: 140px;
}
.page-about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-about__title--small {
  color: #244d4d;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
}
.page-about__text {
  max-width: 448px;
  margin: 20px 0 40px;
}
.page-about__text--small {
  font-size: 18px;
  line-height: 27px;
  margin: 15px 0 30px;
}
.page-about__content {
  display: flex;
  width: 488px;
}
.page-about__icon {
  width: 50px;
  height: 50px;
  fill: #244d4d;
}
.page-about__wrapper-wrapper {
  margin-left: 20px;
}

.swiper {
  max-width: 1240px;
  overflow: hidden;
}
.swiper__slide {
  margin: 0 15px;
  max-width: 370px;
  box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.07);
}
.swiper__card-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 24px;
}
.swiper__wrapper-icon {
  width: 26px;
  height: 26px;
  background-color: #ecf4ff;
  border-radius: 50%;
}
.swiper__wrapper-icon--flex {
  display: flex;
  gap: 8px;
}
.swiper__wrapper-icon svg {
  width: 10px;
  height: 10px;
  margin: 8px;
}
.swiper__text {
  font-size: 24px;
  font-weight: bold;
  line-height: 31px;
  color: #154444;
}
.swiper__button-buy {
  padding: 6px 14px;
  font-size: 12px;
  line-height: 21px;
  color: #ffffff;
  background-color: #244d4d;
  border-radius: 6px;
}
.swiper__button-wrapper {
  display: flex;
  justify-content: right;
  gap: 10px;
  margin: 49px 0;
}
.swiper__button-prev--wrapper {
  width: 40px;
  height: 40px;
  background-color: #ecf4ff;
  border-radius: 50%;
  transition: fill 0.3s ease;
  cursor: pointer;
}
.swiper__button-prev--wrapper svg {
  width: 16px;
  height: 16px;
  margin: 12px;
  fill: #383738;
}
.swiper__button-prev--wrapper:active {
  background-color: #244d4d;
}
.swiper__button-next svg {
  transform: rotate(180deg);
}

.page-furniture {
  padding-top: 140px;
}
.page-furniture__text {
  padding-top: 20px;
  padding-bottom: 80px;
  max-width: 820px;
}

.page-all-furniture__title {
  text-align: center;
}
.page-all-furniture__category-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.page-all-furniture__category-button {
  position: relative;
  padding-bottom: 5px;
  font-size: 24px;
  line-height: 27px;
  color: #919090;
  transition: color #244d4d 0.3s ease;
  cursor: pointer;
}
.page-all-furniture__category-button::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}
.page-all-furniture__category-button:hover {
  font-weight: medium;
  color: #244d4d;
}
.page-all-furniture__category-button:hover::after {
  width: 33.3333333333%;
  height: 3px;
}
.page-all-furniture__content-wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 98px;
}
.page-all-furniture__content-wrapper::before {
  position: absolute;
  content: "";
  top: -30px;
  left: -30px;
  width: 552px;
  height: 390px;
  background-color: #154444;
  z-index: -1;
}
.page-all-furniture__room-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
}
.page-all-furniture__room-button {
  width: 222px;
  height: 90px;
  border: 1px solid #d9dce5;
  fill: #808080;
  transition: 0.3s ease;
}
.page-all-furniture__room-button svg {
  width: 24px;
  height: 24px;
  transition: 0.3s ease;
}
.page-all-furniture__room-button p {
  font-size: 16px;
  line-height: 21px;
  color: #808080;
}
.page-all-furniture__room-button:hover {
  fill: #ffffff;
  background-color: #244d4d;
}
.page-all-furniture__room-button:hover p {
  color: #ffffff;
}

.page-response {
  margin-top: 140px;
}
.page-response__container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 180px;
}
.page-response__container::before {
  content: "";
  position: absolute;
  left: -20px;
  width: 492px;
  height: 492px;
  border-radius: 50%;
  background-color: #154444;
  z-index: -1;
}
.page-response__photo {
  position: relative;
  right: -120px;
  border-radius: 8px;
}
.page-response__title {
  max-width: 412px;
  line-height: 48px;
}
.page-response__text {
  margin-top: 30px;
}
.page-response__client-wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.page-response__card-name {
  font-size: 16px;
  font-weight: 19px;
  color: #000;
}
.page-response__card-rating-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
}
.page-response svg {
  width: 16px;
  height: 16px;
  fill: #ffb624;
}
.page-response__card-rating {
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  color: #000;
}

.page-register {
  margin-top: 140px;
}
.page-register__container {
  background-color: #154444;
}
.page-register__title {
  max-width: 554px;
  padding-top: 66px;
  margin: 0 auto;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.page-register__text {
  max-width: 586px;
  margin: 22px auto 0;
  text-align: center;
  color: #ffffff;
  opacity: 80%;
}
.page-register__input-Wrapper {
  margin-top: 50px;
}
.page-register__input-Wrapper svg {
  position: relative;
  top: 55px;
  left: 375px;
  width: 24px;
  height: 24px;
  fill: #808080;
}
.page-register__input {
  display: block;
  width: 472px;
  height: 68px;
  margin: 0 auto;
  padding-left: 45px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #ffffff;
}
.page-register__button {
  cursor: pointer;
  position: relative;
  bottom: 61px;
  left: 705px;
  padding: 15px 32px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #ffb624;
}

.footer {
  margin-top: 140px;
}
.footer__container {
  padding: 0 89px 60px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding-top: 80px;
  background-color: #154444;
}
.footer__wrapper {
  max-width: 338px;
}
.footer__logo {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.footer__text {
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 90%;
}
.footer__contacts {
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  margin: 0px 14px 0 0;
  border-radius: 50%;
  background-color: #ffffff;
}
.footer__contacts svg {
  margin-top: 3px;
  width: 14px;
  height: 14px;
  fill: #154444;
}
.footer__title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
}
.footer__title--lower {
  margin-top: 30px;
}
.footer__link {
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  opacity: 90%;
}
.footer li {
  margin-top: 16px;
}
.footer__input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 253px;
  height: 48px;
  border-radius: 8px;
  background-color: #ffffff;
}
.footer__input-wrapper input {
  margin-left: 12px;
  padding-left: 8px;
  width: 193px;
  height: 38px;
  font-size: 16px;
}
.footer__button {
  width: 28px;
  height: 28px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #ffb624;
}
.footer__button svg {
  margin-top: 6px;
  width: 16px;
  height: 16px;
  text-align: center;
  fill: #ffffff;
}
.footer__container-copyright {
  padding: 20px 0;
  font-size: 18px;
  text-align: center;
  border-top: 1px solid #244d4d;
  color: #919090;
  background-color: #154444;
}/*# sourceMappingURL=main.css.map */