@charset "UTF-8";
/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* Для коректної роботи rem */
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; /* Відключення масштабування тексту в мобільних браузерах */
}

body {
  margin: 0;
  font-family: Arial, sans-serif; /* Або інший базовий шрифт */
  background-color: #fff;
  color: #000;
}

img,
picture,
video,
canvas {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Montserrat-Bold.woff2), url(../../fonts/Montserrat-Bold.woff), url(../../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url(../../fonts/DMSans-Bold.woff2), url(../../fonts/DMSans-Bold.woff), url(../../fonts/DMSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url(../../fonts/DMSans-Medium.woff2), url(../../fonts/DMSans-Medium.woff), url(../../fonts/DMSans-Medium.ttf);
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url(../../fonts/DMSans-Regular.woff2), url(../../fonts/DMSans-Regular.woff), url(../../fonts/DMSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "DM Sans";
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1 {
  font-family: "Montserrat";
  font-size: 56px;
  line-height: 115%;
  font-weight: bold;
  color: #ffffff;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #244d4d;
}

h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: medium;
  color: #244d4d;
}

p {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  color: #383738;
}

a {
  line-height: 100%;
  font-weight: 400;
}

.header {
  padding-top: 44px;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: bold;
  line-height: 100%;
  color: #244d4d;
}
.menu {
  display: flex;
}
.menu__list {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.menu__link {
  color: #161616;
  transition: color 0.3s;
}
.menu__link:hover {
  color: #ef5423;
}
.menu__icon--input {
  display: none;
}
.menu__icon--search {
  cursor: pointer;
  width: 24px;
  height: 24px;
  fill: #244d4d;
  transition: color 0.3s;
}
.menu__icon--search:hover {
  fill: #ef5423;
}
.menu__icon--burger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-left: 38px;
  fill: #244d4d;
  transition: color 0.3s;
}
.menu__icon--burger:hover {
  fill: #ef5423;
}

.page-hero {
  margin-top: 30px;
}
.page-hero__container {
  height: 700px;
  background-image: url(../../assets/images/photo_1.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
  align-items: center;
}
.page-hero__content {
  display: grid;
  gap: 30px;
  padding: 74px 60px 74px 120px;
  align-content: start;
  background-color: #154444;
  transform: translateX(-120px);
}
.page-hero__title {
  max-width: 450px;
}
.page-hero__title--accent {
  color: #ef5423;
}
.page-hero__text {
  max-width: 400px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.45;
  color: #ffffff;
}

.page-companies__title {
  margin-top: 140px;
  text-align: center;
}
.page-companies__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 40px;
}

.page-about__container {
  margin-top: 140px;
}
.page-about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-about__title--small {
  color: #244d4d;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
}
.page-about__text {
  max-width: 448px;
  margin: 20px 0 40px;
}
.page-about__text--small {
  font-size: 18px;
  line-height: 27px;
  margin: 15px 0 30px;
}
.page-about__content {
  display: flex;
  width: 488px;
}
.page-about__icon {
  width: 50px;
  height: 50px;
  fill: #244d4d;
}
.page-about__wrapper-wrapper {
  margin-left: 20px;
}

.swiper {
  max-width: 1240px;
  overflow: hidden;
}
.swiper__slide {
  margin: 0 15px;
  max-width: 370px;
  box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.07);
}
.swiper__card-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 24px;
}
.swiper__wrapper-icon {
  width: 26px;
  height: 26px;
  background-color: #ecf4ff;
  border-radius: 50%;
}
.swiper__wrapper-icon--flex {
  display: flex;
  gap: 8px;
}
.swiper__wrapper-icon svg {
  width: 10px;
  height: 10px;
  margin: 8px;
}
.swiper__text {
  font-size: 24px;
  font-weight: bold;
  line-height: 31px;
  color: #154444;
}
.swiper__button-buy {
  padding: 6px 14px;
  font-size: 12px;
  line-height: 21px;
  color: #ffffff;
  background-color: #244d4d;
  border-radius: 6px;
}
.swiper__button-wrapper {
  display: flex;
  justify-content: right;
  gap: 10px;
  margin: 49px 0;
}
.swiper__button-prev--wrapper {
  width: 40px;
  height: 40px;
  background-color: #ecf4ff;
  border-radius: 50%;
  transition: fill 0.3s ease;
  cursor: pointer;
}
.swiper__button-prev--wrapper svg {
  width: 16px;
  height: 16px;
  margin: 12px;
  fill: #383738;
}
.swiper__button-prev--wrapper:active {
  background-color: #244d4d;
}
.swiper__button-next svg {
  transform: rotate(180deg);
}

.page-furniture {
  padding-top: 140px;
}
.page-furniture__text {
  padding-top: 20px;
  padding-bottom: 80px;
  max-width: 820px;
}

.page-all-furniture__title {
  text-align: center;
}
.page-all-furniture__category-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.page-all-furniture__category-button {
  position: relative;
  padding-bottom: 5px;
  font-size: 24px;
  line-height: 27px;
  color: #919090;
  transition: color #244d4d 0.3s ease;
  cursor: pointer;
}
.page-all-furniture__category-button::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}
.page-all-furniture__category-button:hover {
  font-weight: medium;
  color: #244d4d;
}
.page-all-furniture__category-button:hover::after {
  width: 33.3333333333%;
  height: 3px;
}
.page-all-furniture__content-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 98px;
}
.page-all-furniture__content-wrapper::before {
  position: absolute;
  content: "";
  top: -30px;
  left: -30px;
  width: 552px;
  height: 390px;
  background-color: #154444;
  z-index: -1;
}
.page-all-furniture__room-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
}
.page-all-furniture__room-button {
  width: 222px;
  height: 90px;
  border: 3px solid #d9dce5;
  fill: #808080;
  transition: 0.3s ease;
}
.page-all-furniture__room-button svg {
  width: 24px;
  height: 24px;
  transition: 0.3s ease;
}
.page-all-furniture__room-button p {
  font-size: 16px;
  line-height: 21px;
  color: #808080;
}
.page-all-furniture__room-button:hover {
  fill: #ffffff;
  background-color: #244d4d;
}
.page-all-furniture__room-button:hover p {
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */