$main-color-white: #ffffff;
$brand-color: #154444;
$brand-secondary-color: #244d4d;
$secondary-dark-color: #161616;
$secondary-gray-color: #383738;
$secondary-svg-color: #808080;
$secondary-lighter-color: #919090;
$favorite-color: #ef5423;
$default-color: #ecf4ff;
$button-main-color: #244d4d;
$button-secondary-color: #ffb624;

$dw-desctop: 1280px;
$dw-tablet-horizontally: 768px;
$dw-tablet-vertically: 480px;
$dw-mobil: 360px;

$ht-56: 56px;

$ht-32: 32px;
$ht-24: 24px;
$ht-20: 20px;
$ht-18: 18px;

$ht-56px-32px: clamp(
  32px,
  calc(32px + (24 * ((100vw - 480px) / (1230 - 480)))),
  56px
);
$fs_32px-20px: clamp(
  18px,
  calc(20px + (12 * ((100vw - 320px) / (1230 - 320)))),
  32px
);
$fs_24px-20px: clamp(
  20px,
  calc(18px + (4 * ((100vw - 480px) / (1230 - 480)))),
  24px
);
$fs_20px-16px: clamp(
  16px,
  calc(18px + (4 * ((100vw - 480px) / (1230 - 480)))),
  20px
);
$fs_18px-16px: clamp(
  16px,
  calc(16px + (2 * ((100vw - 480px) / (1230 - 480)))),
  18px
);
