$main-color-white: #ffffff;
$brand-color: #154444;
$brand-secondary-color: #244d4d;
$secondary-dark-color: #161616;
$secondary-gray-color: #383738;
$secondary-svg-color: #808080;
$secondary-lighter-color: #919090;
$favorite-color: #ef5423;
$default-color: #ecf4ff;
$button-main-color: #244d4d;
$button-secondary-color: #ffb624;

$dw-desctop: 1280px;
$dw-tablet: 768px;
$dw-mobil: 360px;

$ht-56: 56px;
$ht-32: 32px;
$ht-24: 24px;
$ht-20: 20px;
