@use "../utils/variables" as *;
.footer {
  margin-top: clamp(
    70px,
    calc(70px + (70 * ((100vw - 320px) / (1230 - 320)))),
    140px
  );

  &__container {
    padding: 80px
      clamp(15px, calc(15px + (75 * ((100vw - 768px) / (1230 - 768)))), 90px)
      60px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: $brand-color;

    @media screen and (max-width: $dw-tablet-horizontally) {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      text-align: center;
    }

    @media screen and (max-width: $dw-tablet-vertically) {
      grid-template-columns: 1fr;
      gap: 40px;
      justify-items: center;
      text-align: center;
    }
  }

  &__wrapper {
    margin: 10px;
    max-width: 338px;
  }

  &__logo {
    font-family: "Montserrat";
    font-size: $fs_24px-18px;
    font-weight: 700;
    color: $main-color-white;
  }
  &__text {
    margin-top: 30px;
    font-size: $ht-16;
    line-height: 24px;
    color: $main-color-white;
    opacity: 90%;
  }

  &__contacts {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    margin-right: clamp(
      6px,
      calc(6px + (8 * ((100vw - 768px) / (1230 - 768)))),
      14px
    );
    border-radius: 50%;
    background-color: $main-color-white;

    & svg {
      margin-top: 3px;
      width: 14px;
      height: 14px;
      fill: $brand-color;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: $fs_20px-16px;
    line-height: 26px;
    font-weight: bold;
    color: $main-color-white;

    &--lower {
      margin-top: 30px;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 100%;
    color: $main-color-white;
    opacity: 90%;
  }

  & li {
    margin-top: 16px;
  }

  &__input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    width: 253px;
    height: 48px;
    border-radius: 8px;
    background-color: $main-color-white;

    @media screen and (max-width: $dw-tablet-horizontally) {
      margin: 40px auto 0;
    }

    & input {
      margin-left: 12px;
      padding-left: 8px;
      width: 193px;
      height: 38px;
      font-size: $ht-16;
    }
  }
  &__button {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: $button-secondary-color;

    & svg {
      margin-top: 6px;
      width: 16px;
      height: 16px;
      text-align: center;
      fill: $main-color-white;
    }
  }
  &__container-copyright {
    padding: 20px 0;
    font-size: $fs_18px-16px;
    text-align: center;
    border-top: 1px solid $brand-secondary-color;
    color: $secondary-lighter-color;
    background-color: $brand-color;
  }
}
