@use "../utils/variables" as *;

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    padding: clamp(
        20px,
        calc(20px + (24 * ((100vw - 320px) / (1230 - 320)))),
        44px
      )
      15px 0;
  }

  &__logo {
    display: flex;
    font-family: "Montserrat";
    font-size: $fs_24px-20px;
    font-weight: bold;
    line-height: 100%;
    align-items: center;
    color: $brand-secondary-color;
  }

  &__menu {
    @media screen and (max-width: $dw-tablet-vertically) {
      display: none;
    }
  }

  &__menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(15px + (50 - 15) * ((100vw - 480px) / (1230 - 480)));
  }

  &__menu-link {
    color: $secondary-dark-color;
    transition: color 0.3s;

    &:hover {
      color: $favorite-color;
    }
  }

  &__menu-icon {
    display: flex;
    align-items: center;
  }

  &__menu-icon-favorite {
    right: 100px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    fill: $brand-secondary-color;
    transition: color 0.3s;

    @media screen and (max-width: $dw-tablet-vertically) {
      position: relative;
      left: calc(40px + (115 - 40) * ((100vw - 320px) / (480 - 320)));
    }

    &:hover {
      fill: $favorite-color;
    }
  }
}
