@use "../utils/variables" as *;

.page-furniture {
  margin-top: clamp(
    70px,
    calc(70px + (70 * ((100vw - 480px) / (1230 - 480)))),
    140px
  );

  &__title {
  }

  &__text {
    max-width: 820px;
    margin: 20px 0 40px;
  }
}
