@use "../utils/variables" as *;
.page-companies {
  &__title {
    margin-top: clamp(
      60px,
      calc(60px + (80 * ((100vw - 320px) / (1230 - 320)))),
      140px
    );
    text-align: center;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 40px;
  }
}
