@use "../utils/variables" as *;
.swiper {
  width: 100%;
  overflow: hidden;

  &__wrapper {
    padding: auto;
  }

  &__slide {
    max-width: 480px;
    box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.07);
    & img {
      width: 100%;
      height: auto;
    }
  }

  &__card-wrapper {
    display: flex;
    justify-content: space-between;
    padding: clamp(
        20px,
        calc(20px + (12 * ((100vw - 480px) / (1230 - 480)))),
        30px
      )
      clamp(10px, calc(10px + (10 * ((100vw - 480px) / (1230 - 480)))), 20px);
  }

  &__title {
    padding-right: 5px;
    font-size: $fs_20px-16px;
  }

  &__wrapper-icon {
    width: 26px;
    height: 26px;
    background-color: $default-color;
    border-radius: 50%;

    &--flex {
      display: flex;
      gap: 8px;
    }

    & svg {
      width: 10px;
      height: 10px;
      margin: 8px;
    }
  }
  &__text {
    font-size: $fs_24px-20px;
    font-weight: bold;
    line-height: 31px;
    color: $brand-color;
  }

  &__button-buy {
    padding: 6px 14px;
    font-size: $ht-12;
    line-height: 21px;
    color: $main-color-white;
    background-color: $button-main-color;
    border-radius: 6px;
  }

  &__button-wrapper {
    display: flex;
    justify-content: right;
    gap: 10px;
    margin: 49px 0 0;

    @media screen and (max-width: $dw-tablet-vertically) {
      display: none;
    }
  }

  &__button-prev {
    &--wrapper {
      width: 40px;
      height: 40px;
      background-color: $default-color;
      border-radius: 50%;
      transition: fill 0.3s ease;
      cursor: pointer;

      & svg {
        width: 16px;
        height: 16px;
        margin: 12px;
        fill: $secondary-gray-color;
      }
      &:active {
        background-color: $button-main-color;
      }
    }
  }
  &__button-next {
    & svg {
      transform: rotate(180deg);
    }
  }
  &__pagination {
    display: none;
    margin: 20px 0;
    text-align: center;
    @media screen and (max-width: $dw-tablet-vertically) {
      display: block;
    }
  }
}

/* Базові буллети */
.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: $brand-secondary-color !important;
  opacity: 1;
  border-radius: 10px !important;
  margin: 0 5px;
  transition: background-color 0.3s;
}

/* Активний буллет */
.swiper-pagination-bullet-active {
  width: 30px !important;
  height: 15px !important;
  background-color: $brand-color !important;
}
