@use "../utils/variables" as *;

body {
  font-family: "DM Sans";
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1 {
  font-family: "Montserrat";
  font-size: $ht-56;
  line-height: 115%;
  font-weight: bold;
  color: $main-color-white;
}
h2 {
  font-size: $ht-32;
  line-height: 40px;
  font-weight: bold;
  color: $brand-secondary-color;
}

h3 {
  font-size: $ht-20;
  line-height: 25px;
  font-weight: medium;
  color: $brand-secondary-color;
}

p {
  font-size: $ht-20;
  line-height: 25px;
  font-weight: 400;
  color: $secondary-gray-color;
}

a {
  line-height: 100%;
  font-weight: 400;
}
